.experience__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.experience__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.experience__details {
    width: 6rem;
    animation: move 3.5s linear infinite;
}

/* =============== MEDIUM DEVICES =============== */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) translateX(3px);
    }
    100% {
        transform: translateY(0);
    }
}

/* =============== SMALL DEVICES =============== */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}